.cart-container {

    display: flex;
    padding: 0 5rem;
    width: calc(100% - 10rem);
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;

    div {


        &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 14px -1px rgba(0,0,0,0.25);
        }
    }

}


@media screen and (max-width: 1024px) {

    .cart-container {
        flex-wrap: wrap;
    }

}